html,
body {
    font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

.blog-post h2,h3,h1{
  
    color: #b34848 !important;
}

.blog-post-title a{

    color: #b34848 !important;
 }

.blog-post-title:hover {
    text-decoration: underline;
}